textarea {
  width: 100%;
  font-style: italic;
}
// .mdlearning tbody tr td {
//   font-style: italic;
// }
// .mdlearning thead tr th:nth-child(5) {
//   min-width: 300px;
//   max-width: 300px;
// }
// .mdlearning thead tr th:nth-child(7) {
//   min-width: 300px;
//   max-width: 300px;
// }
// .mdlearning tbody tr td:nth-child(5) {
//   min-width: 300px;
//   max-width: 300px;
// }
// .mdlearning tbody tr td:nth-child(7) {
//   min-width: 300px;
//   max-width: 300px;
// }
.system-head-adt {
  text-align: left;
  color: #2b2b2b;
  font-size: 15px;
  text-decoration: underline;
  font-weight: 600;
  display: block;
}

.adt-boxer {
  font-size: 14px;
  color: #787878 !important;
  font-weight: 500;
  line-height: 18px;
  font-style: normal;
  background-color: #FFF;
  border: 1px solid #8b8888;
}